/* RGB */
$egg-blue: rgba(147, 220, 223, 1);
$aero-blue: rgba(198, 239, 236, 1);
$isabelline: rgba(242, 241, 238, 1);
$silk: rgba(255, 223, 209, 1);
$melon: rgba(255, 196, 183, 1);

/* base colors*/

$body-text: #071013;
$link-color: #23B5D3;

$primary-color: $melon;

// shades of gray
$gray-1000: #071013;
$gray-50: #f7f7f7;
$white: white;
