@import url('https://fonts.googleapis.com/css?family=Roboto:400,700|Work+Sans:300,400,600&display=swap');

$font-family: 'Roboto', sans-serif;
$font-size: 16px;
$font-weight: 300;
$line-height: 1.5em;
$color: $body-text;

$font-titles: 'Work Sans', sans-serif;
