/* Components
  ========================================================================== */
@import './buttons';
@import './scroll-to-top';
@import './titles';

.card {
  border: 1px solid $gray-50;
  color: $body-text;
  height: 20rem;
  padding: $l;
  text-align: left;
  width: 20rem;

  &-title {
    font-weight: 900;
    margin-top: $s;
  }
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
  padding: 0 10rem;

  &--text {
    color: $body-text;
    display: flex;
    flex-direction: column;
    padding: $m;

    h1 {
      font-size: $heading-size;
      font-weight: bold;
      text-align: center;
   }

    span {
      font-size: $subheading-size;
   }

  }

}

.home {
  margin: 0 auto;

  &-grid {
    display: grid;
    grid-gap: $l;
    grid-template-columns: 1fr 1fr;
    margin-left: $xxxl * 8;
    margin-top: $s;
    width: 50%;
  }

}
