/* Components
  ========================================================================== */
@import './buttons';
@import './scroll-to-top';
@import './titles';

.card {
  border: 1px solid $gray-50;
  color: $body-text;
  height: 10rem;
  padding: $l;
  text-align: left;
  width: 200px;
  &-title {
    font-weight: 900;
    margin-top: $s;
  }
}
